header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 48px;
    font-weight: bold;
    padding: 20px 25px;
}

body{
    background: #E3E3E3;
}

.caja {
    display: inline-block;
    align-items: center;
    margin-bottom: 10px;
    padding: 30px 60px;
    vertical-align: top;
}

label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.area-texto{
    resize: none;
}

.botones{
    display: block;
    margin: 10px 0;
}

.boton{
    border-radius: 5px;
    size: 1em;
    margin: 0 80px;
    width: 100px;
}

.boton:hover{
    background: blue;
    cursor: pointer;
    color: white;
}

#boton-copiar{
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}

